@use "../abstracts/variables" as *;

.rating {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  color: #475569;
  justify-content: center;

  strong {
    font-size: 1.6rem;
    color: var(--text-dark);
  }
}

.rating__stars {
  display: inline-flex;
  gap: 0.2rem;
}

.star {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  background: #d1d5db;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star--filled {
  background: #f59e0b;
}
